html {
    scroll-behavior: smooth;
}

/*Menu*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Roboto', sans-serif;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    font-family: 'Roboto', sans-serif;
    }
  }

  /*Back to top button*/
  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: white; /* Set a background color */
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  

  /*Title*/
  .title {
    font-family: 'Roboto', sans-serif;
    color: black; 
    font-size: 2cm;
    text-align: center;
  }

  .subtitles {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 1cm;
    text-align: center;
    font-weight: bold;
  }

  .objectives {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: xx-large;
  }
  .objectives-right {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: xx-large;
    text-align: right;
  }

  /*Skills bar*/
  * {box-sizing: border-box}

.tech {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

  .container {
  width: 50%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {width: 90%; background-color: rgba(255, 20, 145, 0.616)}
.css {width: 80%; background-color: grey}
.js {width: 65%; background-color: rgba(255, 20, 145, 0.616)}
.python {width: 75%; background-color: grey}
.learn {width: 65%; background-color: rgba(255, 20, 145, 0.616)}

/*Soft skills*/

.soft-skill {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: xx-large;
    font-weight: bold;
}

.social-i {width: 100%; background-color: rgba(255, 20, 145, 0.616)}
.leadership {width: 80%; background-color: grey}
.honesty {width: 95%; background-color: rgba(255, 20, 145, 0.616)}
.teamwork {width: 85%; background-color: grey}
.learn {width: 80%; background-color: rgba(255, 20, 145, 0.616)}

.language {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.education {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: large;
  font-weight: bold;
}
